<div class="p-5">
  <h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-black">Your matches - <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500"> {{pagination?.totalItems}}</mark> found </h2>
</div>
<div *ngIf="userParams" class="flex  justify-center">
  <form #form="ngForm" class="flex mb-3" (ngSubmit)="loadMembers()" autocomplete="off" class="flex flex-col space-y-3">
    <div class="flex flex-col md:flex-row md:space-x-4">
      <div>
            <label for="age_from" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Age from:</label>
            <input type="number" name="minAge" id="age_from" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [(ngModel)]="userParams.minAge">
      </div>
      <div>
            <label for="age_to" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Age to:</label>
            <input type="number" name="maxAge" id="age_to" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [(ngModel)]="userParams.maxAge">
      </div>
      <div>
            <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-dark">Show: </label>
            <select id="gender" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [(ngModel)]="userParams.gender" name="gender">
              <option selected>Choose a gender</option>
              <option *ngFor="let gender of genderList" [value]="gender.value">
                {{gender.display}}
              </option>
            </select>
      </div>
      </div>
        <div class="flex justify-center" >
          <div >
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Apply</button>
          </div>
          <div>
            <button (click)="resetFilters()" type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Reset</button>
          </div>
        </div>
        <h3 class=" text-2xl font-extrabold justify-center flex text-transparent bg-clip-text bg-gradient-to-r to-red-800 from-blue-800">Sort by</h3>
        <div class="flex justify-center">
          <div >
            <button  class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" type="button" name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadMembers()"
            btnRadio="lastActive">
              Last Active
            </button>
          </div>
          <div>
            <button class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" type="button" name="orderBy" [(ngModel)]="userParams.orderBy" (click)="loadMembers()"
            btnRadio="created">
              New members
            </button>
          </div>
        </div>
  </form>
</div>
<div class="m-6 lg:m-20">
<div class="grid grid-cols-1 gap-4 md:grid-cols-4" >
  <div class="" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>
</div>

<div class="pb-10" *ngIf="pagination">
  <pagination
  class="flex justify-center space-x-3 p-5 px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white mr-20 ml-20 "
  [boundaryLinks]="true"
  [totalItems]="pagination.totalItems"
  [itemsPerPage]="pagination.itemsPerPage"
  [maxSize]="5"
  [(ngModel)] = "pagination.currentPage"
  (pageChanged)="pageChanged($event)"
  previousText="&lsaquo;"
  nextText="&rsaquo;"
  firstText="&laquo;"
  lastText="&raquo;">
  </pagination>
</div>
